---
- name: Create a user with root privileges
  ansible.builtin.user:
    name: "{{ item.name }}"
    non_unique: true
    create_home: true
    shell: /bin/bash
    uid: 0
  loop: "{{ access_users }}"

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "/home/{{ item.name }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
  loop: "{{ access_users }}"

- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "{{ item.public_key }}"
  loop: "{{ access_users }}"
  